@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

body{
    margin: 0;
    font-family:'Lora', serif;
}

.section{
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #ffff;
    font-size: 35px;

    &--1{background-color: #343434;}
    &--2{background-color: #2f3061;}
    &--3{background-color: #0e34a0;}

}